body {
    background-color: rgb(80, 78, 78);
}

h1 {
    text-align: center;
    font-size: 4em;
    background-color: rgb(252, 72, 126);
    font-family: "French Script MT";
    color: white;
}

h2.subtitle {
    text-align: center;
    font-size: 2.2em;
    background-color: rgb(250, 156, 170);
    font-family: "Bell MT";
    color: white;
}

div.content1 {
    color:white;
    background-color: rgb(252, 72, 126);
    border: 3px solid white;
    align-items: center;
    font-weight: bolder;
    font-size: x-large;
    font-size: 1.4em;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Bell MT";
}

header.flexible {  
    display: flex;  
    flex-direction: row;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    justify-content: space-between;
}

footer.flexible {
    margin-top: 50mm;
}

p {
    font-size: 1.7em;
    margin-left: 10mm;
    margin-right: 10mm;
    font-family: "Bell MT";
    color: white;
    
}

h2 {
    font-size: 2.5em;
    font-family: "Bell MT";
    color: white;
}

h3 {
    font-size: 2em;
    margin-left: 10mm;
    font-family: "Bell MT";
    color: white;
}

ul {
    font-size: 1.5em;
    margin-left: 10mm;
    margin-right: 10mm;
    font-family: "Bell MT";
    color: white;
}

#img1 {
    float: right;
    padding-bottom: 10mm;
    padding-left: 10mm;
    padding-right: 10mm;
}

#img2 {
    float: left;
    margin-bottom: 10mm;
    margin-left: 10mm;
    margin-right: 10mm;
    border: 5px solid white;
}

#img3 {
    float: left;
    margin-bottom: 10mm;
    margin-left: 10mm;
    margin-right: 10mm;
    border: 5px solid white;
}

#img4, #img5 {
    float: right;
}

#img4 {
    margin-right: 20mm;
    border: 5px solid white;
}

#img5 {
    margin-right: 30mm;
    margin-top: 5mm;
    border: 5px solid white;
}

#img6, #img7 {
    float: right;
}

#img6 {
    margin-right: 20mm;
    border: 5px solid white;
}

#img7 {
    margin-right: 30mm;
    border: 5px solid white;
}

#img8, #img9 {
    float: right;
}

#img8 {
    margin-right: 20mm;
    margin-top: 10mm;
    border: 5px solid white;
}

#img9 {
    margin-right: 30mm;
    margin-top: 10mm;
    border: 5px solid white;
}


#img10, #img11 {
    float: right;
}

#img10 {
    margin-right: 20mm;
    border: 5px solid white;
}

#img11 {
    margin-right: 30mm;
    margin-top: 5mm;
    border: 5px solid white;
}

#img12, #img13 {
    float: right;
}

#img12 {
    margin-right: 20mm;
    border: 5px solid white;
}

#img13 {
    margin-right: 30mm;
    border: 5px solid white;
}

#img14, #img15 {
    float: right;
}

#img14 {
    margin-right: 20mm;
    border: 5px solid white;
}

#img15 {
    margin-right: 30mm;
    border: 5px solid white;
}

#img16, #img17 {
    float: right;
}

#img16 {
    margin-right: 20mm;
    border: 5px solid white;
}

#img17 {
    margin-right: 30mm;
    border: 5px solid white;
}


#img18, #img19 {
    float: right;
}

#img18 {
    margin-right: 20mm;
    border: 5px solid white;
}

#img19 {
    margin-right: 30mm;
    border: 5px solid white;
}

#img20, #img21 {
    float: right;
}

#img20 {
    margin-right: 20mm;
    border: 5px solid white;
}

#img21 {
    margin-right: 30mm;
    border: 5px solid white;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}

h3.noor {
    margin-top: 50mm;
}

h2.heading {
    padding-left: 10mm;
}

#products {
    margin-left: 75px;
}

footer.flexible {
    color: white;
}

figure {
    display: inline-block;
    vertical-align: top;
   
}

figure img {
    vertical-align: top;
    border: 5px solid white;;
}

figure figcaption {
    text-align: center;
    font-family: "Bell Mt";
    font-size: 1.7em;
    color: white;
    font-weight: bolder;
    font-style: italic;
}

div.foods {
    text-align: center;
}


@media (max-width: 1000px) {
    
    body {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    #img1 {
        width: 50mm;
        float: none;
    }

    div.content1 {
        padding: 2px;
        font-size: .9em;
    }

    p{
        font-size: 1.2em;
    }

    ul {
        font-size: 1.2em;
    }

    #img2 {
        float: none;
        width: 40mm;
    }

    #img3 {
        float: none;
        width: 40mm;
    }

    h3.noor {
        margin-top: 5mm;
    }

    figure img {
        width: 40mm;
    }

    figure figcaption {
        font-size: medium;
    }

    h2.heading {
        font-size: 2.2em;
    }

    h3 {
        font-size: 1.7em;
    }

    #img4, #img5 {
        float: none;
    }

    #img4 {
        width: 30mm;
        margin-left: 35mm;
    }

    #img5 {
        width: 40mm;
        margin-left: 30mm;
    }

    #img6, #img7 {
        float: none;
        width: 30mm;
        margin-left: 35mm;
    }

    #img6 {
        margin-bottom: 10mm;
    }

    #img8, #img9 {
        float: none;
        width: 30mm;
        margin-left: 35mm;
    }

    
    #img10, #img11 {
        float: none;
    }

    #img10 {
        width: 30mm;
        margin-left: 35mm;
    }

    #img11 {
        width: 40mm;
        margin-left: 30mm;
    }
    
    #img12, #img13 {
        float: none;
        width: 30mm;
        margin-left: 35mm;
    }
 
    #img12 {
        margin-bottom: 10mm;
    }

    #img14, #img15 {
        float: none;
        width: 30mm;
        margin-left: 35mm;
    }
 
    #img14 {
        margin-bottom: 10mm;
    }

    #img16, #img17 {
        float: none;
        width: 30mm;
        margin-left: 35mm;
    }
 
    #img16 {
        margin-bottom: 10mm;
    }

    #img18, #img19 {
        float: none;
        width: 30mm;
        margin-left: 35mm;
    }
 
    #img18 {
        margin-bottom: 10mm;
    }

    #img20, #img21 {
        float: none;
        width: 30mm;
        margin-left: 35mm;
    }
 
    #img20 {
        margin-bottom: 10mm;
    }

    @media screen and (orientation: landscape) {    
        div.content1 {
            padding: 10px;
        }
        
    }
}
    

