body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-size: 4em;
    background-color: lightpink;
    font-family: "French Script MT";
}

h2.subtitle {
    text-align: center;
    font-size: 2.2em;
    background-color: rgb(252, 218, 224);
    font-family: "Bell MT";
}

div.content1 {
    color:black;
    background-color: lightpink;
    border: 3px solid rgb(252, 218, 224);
    align-items: center;
    font-weight: bolder;
    font-size: x-large;
    font-size: 1.4em;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Bell MT";
}

header.flexible {  
    display: flex;  
    flex-direction: row;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    justify-content: space-between;
}

footer.flexible {
    margin-top: 50mm;
}

p {
    font-size: 1.7em;
    margin-left: 10mm;
    margin-right: 10mm;
    font-family: "Bell MT";
}

h2 {
    font-size: 2.5em;
    font-family: "Bell MT";
}

h3 {
    font-size: 2em;
    margin-left: 10mm;
    font-family: "Bell MT";
}

ul {
    font-size: 1.5em;
    margin-left: 10mm;
    margin-right: 10mm;
    font-family: "Bell MT";
}

#img1 {
    float: right;
    padding-bottom: 10mm;
    padding-left: 10mm;
    padding-right: 10mm;
}

#img2 {
    float: left;
    padding-bottom: 10mm;
    padding-left: 10mm;
    padding-right: 10mm;
}

#img3 {
    float: left;
    padding-bottom: 10mm;
    padding-left: 10mm;
    padding-right: 10mm;
}

#img4, #img5 {
    float: right;
}

#img4 {
    margin-right: 20mm;
}

#img5 {
    margin-right: 30mm;
    margin-top: 5mm;
}

#img6, #img7 {
    float: right;
}

#img6 {
    margin-right: 20mm;
}

#img7 {
    margin-right: 30mm;
}

#img8, #img9 {
    float: right;
}

#img8 {
    margin-right: 20mm;
    margin-top: 18mm;
}

#img9 {
    margin-right: 30mm;
    margin-top: 10mm;
}

a:link {
    color: black;
}
a:visited {
    color: black;
}

h3.noor {
    margin-top: 50mm;
}

h2.heading {
    padding-left: 10mm;
}

img.foods {
    padding: 15mm;
}

#products {
    margin-left: 75px;
}
